*{
  margin: 0;
  padding: 0;
}
body{
  background: #FFD4D4;
  font-size: 14px;
  font-family: 'Kanit', sans-serif;
}
.abc{
  color: #9D3C72;
  font-size: 20px;
}
h1{
  color: #9D3C72;
}
.container{
  width: 80%;
  margin: 50px auto;
}
.contact-box{
  background: #fff;
  display: flex;
}
.contact-left{
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right{
  flex-basis: 40%;
  padding: 40px;
  background: #9D3C72;
  color: #fff;
}
h1{
  margin-bottom: 10px;
}
.container p{
  margin-bottom: 4 0px;
}
.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group{
  flex-basis: 45%;
}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
}
label{
  margin-bottom: 6px;
  display: block;
  color: #9D3C72;
}
button{
  background: #9D3C72;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
}
.contact-left h3{
  color: #9D3C72;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-right h3{
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first child{
  padding-right: 20px;
}
tr td:{
  padding-top: 20px;
}
.btn{
  font-size: 15px;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 16px;
  color: rgb(255, 255, 255);
  background-color: #9D3C72;
  text-decoration: none;
  transition: 0.5s ease;
  border-radius: 10px;
}
.btn:hover{
  background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
}
